$primaryColor  : #1099d2;
$secondaryColor : #4db092;
$thirdlyColor : #d7db1d; 
$cd-danger : #b20a37 ;

$shake-intensity: 1%;

$principalePolice : Poppins, 'Courier New', Courier, monospace;
$secondaryPolice : 'Shadows Into Light', cursive, Poppins, 'Courier New', Courier, monospace;

