.radioOption{
    font-size: 1.2em;
    margin-left: 12%;
    display: flex;
    align-items: center;
}

.radioButtonSize{
    width: 20px;
    height: 20px;
    margin-right: 3%;
}

.miseEnFormeTitle{
    border-radius: 0%;
    font-size: 1.6em;
}